#footer {
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#footer img {
    width: 150px;

}

#footer span {
    color: white;
    font-family: 'Kdam Thmor Pro', sans-serif;
}